# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

.DS_Store
Thumbs.db


# Data
data/
*.csv
*.xlsx

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# notebooks
notebooks/overview.ipynb_checkpoints
notebooks/overview.ipynb

# Scripts
scripts/data_loader.py